/* src/components/page-section/home/HomeBanner.scss */

.home-banner {
  background-color:#702c91; // Lilla bakgrunn
  color: white;

  h1 {
    color: white;
  }

  p {
    color: #aefb4c; // Grønn tekst
  }
}

.banner-wrapper {
  min-height: 90vh; // Nesten full viewport-høyde
  display: flex;
  align-items: stretch;
}

.home-banner-thumb {
  width: 100%;
  min-height: 250px !important;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.2s ease;

  @media (min-width: 768px) {
    min-height: 200px;
  }

  &:hover {
    transform: scale(1.03);
  }
}


.text-xl-display {
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 700; // tilsvarer fw-bold

  @media (max-width: 992px) {
    font-size: 4.5rem;
  }

  @media (max-width: 768px) {
    font-size: 3.5rem;
  }

  @media (max-width: 576px) {
    font-size: 2.5rem;
  }
}